**/__pycache__
**/.vscode/
.DS_Store
.python-version

logs/
test_out_nocommit/

**/terraform/
**/tf_backup
terraform_generated/*.*
json_generated/*.*

td2bq_mapper/tests/temp_dir/*.*
!td2bq_mapper/tests/temp_dir/.gitkeep

td2bq_mapper/lift_and_shift_mapper/data/test_input_nocommit
