**/__pycache__
**/.vscode/
**/terraform/
**/tf_backup
td2bq_mapper/tests/temp_dir/*.*
!td2bq_mapper/tests/temp_dir/.gitkeep
terraform_generated/*.*
json_generated/*.*
logs/
.DS_Store
td2bq_mapper/lift_and_shift_mapper/data/test_input_nocommit
.python-version